%p
  %strong ファイル名:
  = @upfile.name
%p
  %strong サイズ:
  = "#{@upfile.file_binary.length}バイト"
%p
  %strong 更新日時:
  = get_disp_update_time(@upfile)
%p
  %strong 所有者:
  = @upfile.own_user.email
%p
  %strong 共有相手:
  = @upfile.to_share_users.pluck(:email).uniq.join(', ')

%hr

= link_to 'ダウンロード', download_folder_upfile_path(@folder, @upfile), 'data-no-turbolink' => true
\|
= link_to '編集', edit_folder_upfile_path(@folder, @upfile)
\|
= link_to '移動', '', id: "show_movetree"
\|
= link_to 'コピー', '', id: "show_copytree"
\|
= link_to '一覧へ', folder_path(@folder)



#movetreedialog
  = render 'folders/searchform', { param: { title: '移動', form_for: [@folder, @upfile], url: move_folder_upfile_path(@folder, @upfile) } }

#copytreedialog
  = render 'folders/searchform', { param: { title: 'コピー', form_for: [@folder, @upfile], url: copy_folder_upfile_path(@folder, @upfile) } }
