%h1 共有した一覧

%hr

%table
  %tr
    %th= sharelist_header_tag(Const.orderby.field.file,  @orderby, list_from_share_path)
    %th= sharelist_header_tag(Const.orderby.field.type,  @orderby, list_from_share_path)
    %th= sharelist_header_tag(Const.orderby.field.time,  @orderby, list_from_share_path)

  - fromshare_items = get_fromshare_items(@orderby)
  - fromshare_items.each do |i|
    %tr
      %td= file_link_tag(i[:object])
      %td= get_disp_type_name(i[:object])
      %td= get_disp_update_time(i[:object])
      %td= file_view_tag(i[:object])
      %td= file_edit_tag(i[:object])
      %td= destroy_share_link_tag(i[:object])
