%h1 共有した一覧

%hr

%table
  %tr
    %th= sharelist_header_tag(Const.orderby.field.file,  @orderby, list_from_share_path)
    %th= sharelist_header_tag(Const.orderby.field.type,  @orderby, list_from_share_path)
    %th= sharelist_header_tag(Const.orderby.field.time,  @orderby, list_from_share_path)

  - list_fromshare = get_list_fromshare_source(@orderby)
  - list_fromshare.each do |f|
    %tr
      %td= file_link_tag(f[:object])
      %td= get_disp_type_name(f[:object])
      %td= get_disp_update_time(f[:object])
      %td= file_view_tag(f[:object])
      %td= file_edit_tag(f[:object])
      %td= link_to '共有解除',destroy_foldershare_path(f[:object]) , :method => :delete, :data => { :confirm => '共有解除してもよろしいですか？' }



