%h1 共有一覧

%hr

%table
  %tr
    %th= sharelist_header_tag(Const.orderby.field.file,   @orderby)
    %th= sharelist_header_tag(Const.orderby.field.type,   @orderby)
    %th= sharelist_header_tag(Const.orderby.field.time,   @orderby)
    %th
    %th
    %th

  - list_folder = get_list_share_source(@orderby)
  - list_folder.each do |f|
    %tr
      %td= file_link_tag(f[:object])
      %td= get_disp_type_name(f[:object])
      %td= get_disp_update_time(f[:object])
      %td= file_view_tag(f[:object])
      %td= file_edit_tag(f[:object])
      %td= link_to '共有解除', [@folder, f[:object]], :method => :delete, :data => { :confirm => '削除してもよろしいですか？' }


