%h1 共有された一覧

%hr

%table
  %tr
    %th= sharelist_header_tag(Const.orderby.field.file,  @orderby, list_from_share_path)
    %th= sharelist_header_tag(Const.orderby.field.type,  @orderby, list_from_share_path)
    %th= sharelist_header_tag(Const.orderby.field.time,  @orderby, list_from_share_path)

  - list_toshare = get_list_toshare_source(@orderby)
  - list_toshare.each do |f|
    %tr
      %td= file_link_tag(f[:object])
      %td= get_disp_type_name(f[:object])
      %td= get_disp_update_time(f[:object])
      %td= file_view_tag(f[:object])
      %td= file_edit_tag(f[:object])
