= form_for @upfile,{url: move_folder_upfile_path(@folder, @upfile)}  do |f|
  = f.label :現在のフォルダ
  = link_to @folder.name, search_folder_path(@folder), {id: 'current_folder',class: 'search_folder',remote: true}
  %br

  = f.label :移動先フォルダ
  = link_to @folder.name, search_folder_path(@folder), {id: 'current_folder',class: 'search_folder',remote: true}
  %hr

  #tree

  = hidden_field_tag :authenticity_token, form_authenticity_token

  %hr
  .actions
    = f.submit '移動する'

