%h1 ファイル  #{folder_parents_html(@folder)}

%hr

%table
  %tr
    %th フォルダ
    %th 種類

  - @folder.sub_folders.each do |folder|
    %tr
      %td= link_to folder.name, list_folder_path(folder)
      %td= file_type_name(folder)

  - @folder.upfiles.each_with_index do |upfile|
    %tr
      %td= link_to upfile.name, ''
      %td= file_type_name(upfile)


-#       %td= link_to 'Edit', edit_upfile_path(upfile)
-#       %td= link_to 'Destroy', upfile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'アップロード', new_folder_upfile_path(@folder)

