%h1 フォルダ  #{folder_parents_html(@folder)}

%hr

- if @folder.errors.any?
  #error_explanation
    %h2= "#{pluralize(@folder.errors.count, "error")} prohibited this upfile from being saved:"
    %ul
      - @folder.errors.full_messages.each do |msg|
        %li= msg
%table
  %tr
    %th= filelist_header_tag(Const.orderby.field.file, @folder, @orderby)
    %th= filelist_header_tag(Const.orderby.field.type, @folder, @orderby)
    %th= filelist_header_tag(Const.orderby.field.time, @folder, @orderby)
    %th

  - list_folder = @folder.list_folder_source(@orderby)
  - list_folder.each do |f|
    %tr
      %td= file_link_tag(@folder, f[:object])
      %td= get_disp_type_name(f[:object])
      %td= get_disp_update_time(f[:object])
      %td= link_to '削除', [@folder, f[:object]], :method => :delete, :data => { :confirm => '削除してもよろしいですか？' }

-#       %td= link_to 'Edit', edit_upfile_path(upfile)
-#       %td= link_to 'Destroy', upfile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%hr

= link_to 'アップロード', new_folder_upfile_path(@folder)
\|
= link_to 'フォルダ作成', new_folder_folder_path(@folder)

