= form_for @user,{url: new_user_session_path, remote: true, format: 'json'} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off"

  .field
    = f.check_box :remember_me
    = f.label :remember_me
  = hidden_field_tag :authenticity_token, form_authenticity_token

  .actions
    = f.submit 'ログイン'
