%h1 共有されたフォルダ  #{toshare_item_link_tag(@folder)}

%hr

- if @folder.errors.any?
  #error_explanation
    %h2= "#{pluralize(@folder.errors.count, "error")} prohibited this upfile from being saved:"
    %ul
      - @folder.errors.full_messages.each do |msg|
        %li= msg
%table
  %tr
    %th= shareitems_header_tag(Const.orderby.field.file,  @orderby, toshare_folder_item_path(@folder))
    %th= shareitems_header_tag(Const.orderby.field.type,  @orderby, toshare_folder_item_path(@folder))
    %th= shareitems_header_tag(Const.orderby.field.time,  @orderby, toshare_folder_item_path(@folder))
    %th= shareitems_header_tag(Const.orderby.field.owner,  @orderby, toshare_folder_item_path(@folder))

  - toshare_folder_items = get_toshare_folder_items(@folder, @orderby)
  - toshare_folder_items.each do |i|
    %tr
      %td= toshare_item_link_tag(i[:object])
      %td= get_disp_type_name(i[:object])
      %td= get_disp_update_time(i[:object])
      %td= get_disp_own_user_name(i[:object])
      %td= toshare_item_view_tag(i[:object])


