= nested_form_for(@folder, url: :update_foldershare ) do |f|
  - if @folder.errors.any?
    #error_explanation
      %h2= "#{pluralize(@folder.errors.count, "error")} prohibited this folder from being saved:"
      %ul
        - @folder.errors.full_messages.each do |msg|
          %li= msg
  フォルダ：
  = f.text_field :name
  %hr
  %tr
    %th= "共有相手"
    %th
    = f.fields_for :folder_shares do |s|
      %tr
        = s.collection_select :to_user_id, User.all, :id, :email
        = s.link_to_remove "削除"
  = f.link_to_add "共有相手を追加", :folder_shares
  %br
  %hr
  .actions
    = f.submit '保存'
