%p
  %strong ファイル名:
  = @upfile.name
%p
  %strong サイズ:
  = "#{@upfile.file_binary.length}バイト"
%p
  %strong 更新日時:
  = get_disp_update_time(@upfile)
%p
  %strong 所有者:
  = @upfile.own_user.email

%hr

= link_to 'ダウンロード', download_folder_toshare_upfile_path(@upfile.folder_id, @upfile), 'data-no-turbolink' => true

\|
= link_to '共有された一覧へ', toshare_items_path

