%p
  %strong フォルダ名:
  = @folder.name
%p
  %strong 更新日時:
  = get_disp_update_time(@folder)
%p
  %strong 所有者:
  = @folder.own_user.email

%hr

- parent_folder = @folder.parent_folder
= link_to '編集', edit_folder_folder_path(parent_folder, @folder)
\|
= link_to '移動', '', id: "show_movetree"
\|
= link_to 'コピー', '', id: "show_copytree"
\|
= link_to '一覧へ', list_folder_path(parent_folder)


#movetreedialog
  = render 'folders/searchform', { param: { title: '移動', form_for: [parent_folder, @folder], url: move_folder_folder_path(parent_folder, @folder) } }

#copytreedialog
  = render 'folders/searchform', { param: { title: 'コピー', form_for: [parent_folder, @folder], url: copy_folder_folder_path(parent_folder, @folder) } }
