!!!
%html
  %head
    %title Drobox
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, :method => :delete
      \|
      = link_to "rootへ", list_folder_path
      \|
      = link_to "共有した一覧へ", list_from_share_path
      \|
      = link_to "共有された一覧へ", list_to_share_path
      %hr

    %p{class: "notice"}
      = notice
    %p{class: "alert"}
      = alert
    = yield
